* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(3, 15, 31);
}

main {
  padding-bottom: 50px;
}

.movieZoneLogo {
  font-family: "Lato", sans-serif;
  margin: 20px 0;
  color: #1F8093;
  position: relative;
  display: flex;
  justify-content: center;
}
.movieZoneLogo .logo {
  font-size: 60px;
  color: #1F8093;
  margin: 0;
  position: relative;
  text-shadow: 2px 4px 0px rgb(33, 32, 32), -1px 3px 7px rgb(5, 24, 49), -1px 2px 0em rgb(175, 237, 233);
  text-align: center;
}

.btnPrimary {
  background-color: #1F8093;
  color: aliceblue;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContainer a {
  color: #00C6BB;
}
.formContainer a a:visited {
  color: #00C6BB;
}
.formContainer a a:active {
  color: #00C6BB;
}
.formContainer .outsideFormLink {
  color: aliceblue;
}
.formContainer .formWrapper {
  padding: 20px;
  max-width: 500px;
  min-width: 300px;
  min-height: 200px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgb(229, 228, 228);
  box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.67);
  color: rgb(5, 24, 49);
}
.formContainer .formWrapper .middle, .formContainer .formWrapper h2, .formContainer .formWrapper .error {
  text-align: center;
}
.formContainer .formWrapper .middle a, .formContainer .formWrapper h2 a, .formContainer .formWrapper .error a {
  color: rgb(5, 24, 49);
}
.formContainer .formWrapper .successMessage {
  text-align: center;
  padding: 10px;
  color: rgb(5, 24, 49);
}
.formContainer .formWrapper .form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formContainer .formWrapper .form input, .formContainer .formWrapper .form button {
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
}
.formContainer .formWrapper .form button {
  margin: 1rem 0;
}
.formContainer .formWrapper .form .fieldWrapper {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.formContainer .formWrapper .form .passwordHelp {
  font-size: 12px;
}

.profile {
  color: #1F8093;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile .moviesContainer {
  margin-top: 100px;
}

.navBar {
  width: 100%;
  background-color: rgb(5, 24, 49);
  height: 50px;
}
.navBar .profileBtn {
  background-color: rgb(5, 24, 49);
  border: none;
  color: aliceblue;
  margin-right: 10px;
}
.navBar .profileBtn:hover {
  transform: scale(1.3, 1.3);
  text-decoration: underline;
  color: #00C6BB;
}
.navBar .profileBtn svg {
  height: 25px;
  width: 25px;
}
.navBar .wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.navBar .burger {
  display: block;
  color: #00C6BB;
  background-color: rgb(5, 24, 49);
  width: 50px;
  height: 50px;
  border: none;
}
.navBar .burger .burgerIcon {
  width: 35px;
  height: 35px;
}
.navBar form {
  background-color: rgb(5, 24, 49);
}
.navBar form .searchBtn {
  color: aliceblue;
  background-color: rgb(5, 24, 49);
  border: none;
  padding: 10px 0;
}
.navBar form .searchBtn:hover {
  transform: scale(1.1, 1.1);
  text-decoration: underline;
  color: #00C6BB;
}
.navBar form .searchField {
  height: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin: 0 13px;
}
.navBar form .searchLabel {
  display: none;
}
.navBar .largeScreenNav {
  display: none;
}
.navBar .smallScreenNav {
  position: relative;
  top: 300px;
}
.navBar .menuItems {
  width: 100vw;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  background-color: aliceblue;
  min-height: 150px;
  position: relative;
}
.navBar .menuItems .close {
  font-size: 25px;
  font-weight: bolder;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border: none;
  background-color: aliceblue;
  position: absolute;
  top: 20px;
  z-index: 1;
}
.navBar .menuItems .close:hover {
  transform: scale(1.3, 1.3);
  color: #00C6BB;
}
.navBar .menuItems .navBtn {
  background-color: aliceblue;
  height: 40px;
  color: aliceblue;
  font-weight: bold;
  border: none;
  color: rgb(5, 24, 49);
}
.navBar .menuItems .navBtn:hover {
  transform: scale(1.1, 1.1);
  text-decoration: underline;
  color: #00C6BB;
}
@media screen and (min-width: 600px) {
  .navBar .close {
    display: none;
  }
  .navBar .wrapper {
    display: none;
  }
  .navBar .menuItems {
    display: none;
  }
  .navBar .largeScreenNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 24, 49);
    height: 50px;
    width: 100%;
    padding: 0 10px;
  }
  .navBar .largeScreenNav div {
    display: flex;
  }
  .navBar .navBtn {
    background-color: rgb(5, 24, 49);
    color: aliceblue;
    border: none;
    height: 100%;
    font-weight: bold;
    height: 50px;
  }
  .navBar .navBtn:hover {
    transform: scale(1.1, 1.1);
    text-decoration: underline;
    color: #00C6BB;
  }
}

.cardContainer {
  padding: 3px;
  max-width: 200px;
  min-height: 290px;
}
.cardContainer .bild {
  background-color: antiquewhite;
  width: 100%;
}
.cardContainer .cardMovieTitle {
  display: flex;
  flex-direction: column;
}
.cardContainer .cardTextWrapper {
  height: 70px;
  background-color: rgb(3, 15, 31);
  color: aliceblue;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardContainer .cardTextWrapper .smallInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.cardContainer:hover {
  transform: scale(1.05, 1.05);
}

.moviesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.back {
  z-index: 2;
  position: absolute;
  left: 20px;
  top: 10px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgba(65, 67, 66, 0.219);
  color: aliceblue;
  font-weight: bold;
  min-width: 70px;
}
.back:hover {
  background-color: rgba(216, 225, 220, 0.255);
  color: #00C6BB;
}

.heroContainer {
  height: 320px;
  width: 100%;
  overflow: hidden;
  color: aliceblue;
}
.heroContainer .heroImage {
  width: 100%;
  background-color: antiquewhite;
  margin-top: -70px;
}

.detailPage {
  position: relative;
}
.detailPage .infoContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailPage .infoContainer h2 {
  margin-top: 0;
  text-align: center;
  color: #1F8093;
  font-size: 3em;
  text-shadow: 2px 4px 0px rgb(33, 32, 32), -1px 3px 7px rgb(105, 118, 128), 0 0 0.2em rgb(5, 24, 49);
}
.detailPage .infoContainer .saveMovieBtn {
  min-height: 40px;
  border-radius: 10px;
  border: 3px solid #00C6BB;
  background-color: rgb(3, 15, 31);
  font-size: 16px;
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.67);
}
.detailPage .infoContainer .saveMovieBtn:hover {
  transform: scale(1.2, 1.2);
  box-shadow: -1px 1px 18px 1px rgba(175, 237, 233, 0.54);
}
.detailPage .infoContainer .infoWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
.detailPage .infoContainer .infoWrapper .title {
  color: #1F8093;
}
.detailPage .infoContainer .infoWrapper .container {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 30px;
}
.detailPage .infoContainer .infoWrapper ul {
  padding: 0;
}
.detailPage .infoContainer .infoWrapper ul li {
  list-style: none;
  color: #00C6BB;
}
.detailPage .infoContainer .infoWrapper .release {
  display: flex;
  flex-direction: column;
  color: #00C6BB;
}
.detailPage .infoContainer .infoWrapper .overview {
  color: aliceblue;
  padding: 20px;
}

.react-confirm-alert .heroContainer {
  z-index: 3;
}
.react-confirm-alert .react-confirm-alert-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.react-confirm-alert .react-confirm-alert-body .react-confirm-alert-button-group button {
  background: #1F8093;
  font-weight: bold;
}

.pagination {
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 30px 5px;
}
.pagination button {
  height: 50px;
  width: 50px;
  background-color: #1F8093;
  border-radius: 5px;
  border: none;
  color: rgb(202, 221, 237);
  font-weight: bold;
}
.pagination button:hover {
  transform: scale(1.1, 1.1);
}
.pagination button:active {
  transform: scale(1.1, 1.1);
  background-color: #00C6BB;
}
.pagination button > * {
  height: 35px;
  width: 35px;
}
.pagination p {
  padding: 0 15px;
}

@media screen and (max-width: 600px) {
  .moviesContainer {
    margin-top: 200px;
  }
  .heroContainer {
    height: 280px;
  }
  .heroContainer .heroImage {
    margin-top: 0;
  }
  .infoWrapper {
    flex-direction: column;
  }
  .infoContainer > .overview {
    min-width: 90vw;
  }
}
@media screen and (max-width: 420px) {
  .cardContainer {
    min-width: 90vw;
  }
}
@media screen and (min-width: 800px) {
  .detailPage .heroContainer {
    height: 360px;
  }
}/*# sourceMappingURL=style.css.map */