$lightest:
rgb(202 221 237)
rgb(146 194 219)
rgb(114, 209, 231)
rgb(60 165 196)
rgb(39 116 168)
rgb(32 74 133)
rgb(10 30 70)
rgb(5 24 49)
rgb(3, 15, 31)
 #00C6BB; 




$primary: #1F8093;
 $nav: rgb(5 24 49);


$backBtn: rgba(65, 67, 66, 0.219);
$lightGray: rgb(229, 228, 228);

$hoverBlue:#00C6BB;
$darkestBlue: rgb(3, 15, 31);
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: $darkestBlue;

}
main{
  padding-bottom: 50px;
}



.btnPrimary {
  background-color: $primary;
  color: white;
}




// FORMULÄR 
.formContainer {
   display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 a{
  color: $hoverBlue;
 
a:visited{
  color: $hoverBlue;
} 

a:active{
  color: $hoverBlue;
}
 }


 .outsideFormLink{
  color: white 
}

 .formWrapper{
  padding: 20px;
  max-width: 500px;
  min-width: 300px;
  min-height: 200px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: $lightGray;
  box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.67);
  color: $nav;

 .middle, h2, .error{
    text-align: center;
    // color: $nav;
    a{
      color: $nav;
    }
   }

  .successMessage{
   text-align: center;
   padding: 10px;
   color: $nav;
  
   }

   .form{
    display: flex;
    flex-direction: column;
    width: 100%;
  
    input, button {
      height: 35px;
      border-radius: 5px;
      border: 1px solid gray;
    }
   
    button{
      margin: 1rem 0;
    }

    .fieldWrapper{
      display: flex;
      flex-direction: column;
      padding: 5px 0;
   
    }
    .passwordHelp{
      font-size: 12px;
    }
   }
}};

.navBar {
  background-color: $nav;
  height: 50px;
  display: flex;
  justify-content: space-between;

  .homeBtn 
    {
           a{
        text-decoration: none;
        color: white;
      }
      a:hover{
        transform: scale(1.05, 1.05);
        text-decoration: underline;
        color: $hoverBlue;
      }
    
      }

  .navBtn{
    background-color: $nav;
    height: 100%;
    color: white;
    font-weight: bold;
    border: none;
}
.navBtn:hover{

  transform: scale(1.1, 1.1);
  text-decoration: underline;
     color: $hoverBlue;

 }
  .searchField{
    height: 30px;
    border-radius: 10px;
border: none;
    text-align: center;
    margin: 0 5px;
  }
  .searchLabel{
    display: none;
  }
}



// .pagination{
//   display: flex;
//   justify-content: center;
// }


// CARD
.cardContainer{
  padding:3px;
  max-width: 200px;
  min-height: 290px;
  .bild{
    background-color: antiquewhite;
    width: 100%;
    
  }

  .cardMovieTitle{
    display: flex;
    flex-direction: column;
  }
.cardTextWrapper{

  
  height: 70px;
  background-color: $darkestBlue;
  color: white;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  .smallInfoWrapper{
    display: flex;
    justify-content: space-between;
    align-items: end;
  
  }
}
&:hover{
  transform: scale(1.05, 1.05);
}

}


//Container för korten
.moviesContainer{
  display: flex;
 justify-content: center;
  flex-wrap: wrap;
  margin-top: 200px ;
}

// Back knapp
.back{
  z-index: 2;
  position: absolute;
  left: 20px;
  top: 18%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgba(65, 67, 66, 0.219);
  color: white;
  font-weight: bold;
  min-width: 70px;

  &:hover{
    background-color: rgba(216, 225, 220, 0.255);
    color: $hoverBlue;
  }
}


          
          

//Hero image
.heroContainer{
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: white;

  .heroImage{
    width: 100%;
   background-color: antiquewhite;

   }}


   // Detaljsida
.infoContainer{
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;

    h2{
      margin-top: 0;
    text-align: center;
    color: $primary;
    font-size: 3em;
    text-shadow: 2px 4px 0px rgb(33, 32, 32), -1px 3px 7px rgb(105 118 128), 0 0 0.2em $nav;
  }

  .infoWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;

 
  ul{
    padding: 0;
    li{
      list-style: none;
      color: $hoverBlue;
    }
  }
  .release {
    display: flex;
    flex-direction: column;
    color: $hoverBlue;
  }


.overview{
  color: white;
  width: 60%;
  padding: 20px;
}}}


// .heroContainer{
//   max-height: 300px;
//   width: 100%;
//   overflow: hidden;
//   position: relative;
//   color: white;

//   .heroTitle{
//     position: absolute;
//     bottom: 10px;
//     left: 15px;
//     font-size: 25px;
//   }



//   .heroImage{
//     width: 100%;
//    background-color: antiquewhite;

//    }
 
// }


// .infoContainer{
// padding: 10px;
// display: flex;
// flex-direction: column;
// align-items: center;

//     h2{
//     text-align: center;
//     color: $primary;
//     font-size: 3em;
//   }

//   .infoWrapper{
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     width: 90%;
//     background-color: #e4e6e63f;
//   }
//   ul{
//     padding: 0;
//     li{
//       list-style: none;
//       color: $hoverBlue;
//     }
//   }

// }
// .overview{
//   color: white;
//   width: 60%;
//   padding: 20px;
// }


// CONFIRM ALERT
.react-confirm-alert{

  .react-confirm-alert-body{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
    .react-confirm-alert-button-group{
     
      button{
        background: $primary;
        font-weight: bold;
       }
    }
   
  }
  
}


