
$primary: #1F8093;
 $nav: rgb(5 24 49);


$backBtn: rgba(65, 67, 66, 0.219);
$lightGray: rgb(229, 228, 228);
$lightest: rgb(202 221 237);
$hoverBlue:#00C6BB;
$darkestBlue: rgb(3, 15, 31);
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: $darkestBlue;

}
main{
  padding-bottom: 50px;
}


.movieZoneLogo {
  font-family: 'Lato', sans-serif;
margin: 20px 0;
  color: $primary;

  position: relative;
  display: flex;
  justify-content: center;

  .logo{
    font-size: 60px;
    color: $primary;
    margin: 0;
    position: relative;
    text-shadow: 2px 4px 0px rgb(33, 32, 32), -1px 3px 7px rgb(5, 24, 49), -1px 2px 0em rgb(175 237 233);
    text-align: center;

  }


}


.btnPrimary {
  background-color: $primary;
  color: aliceblue;
}




// FORMULÄR 
.formContainer {
   display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 a{
  color: $hoverBlue;
 
a:visited{
  color: $hoverBlue;
} 

a:active{
  color: $hoverBlue;
}
 }


 .outsideFormLink{
  color: aliceblue 
}

 .formWrapper{
  padding: 20px;
  max-width: 500px;
  min-width: 300px;
  min-height: 200px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: $lightGray;
  box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.67);
  color: $nav;

 .middle, h2, .error{
    text-align: center;
    // color: $nav;
    a{
      color: $nav;
    }
   }

  .successMessage{
   text-align: center;
   padding: 10px;
   color: $nav;
  
   }

   .form{
    display: flex;
    flex-direction: column;
    width: 100%;
  
    input, button {
      height: 35px;
      border-radius: 5px;
      border: 1px solid gray;
    }
   
    button{
      margin: 1rem 0;
    }

    .fieldWrapper{
      display: flex;
      flex-direction: column;
      padding: 5px 0;
   
    }
    .passwordHelp{
      font-size: 12px;
    }
   }
}};


.profile{
  color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .moviesContainer{
    margin-top: 100px;
  }
}



.navBar {
  
 width: 100%; 
 background-color: $nav;


 height: 50px;



 .profileBtn{
  background-color: $nav;
  border: none;
  color: aliceblue;
  margin-right: 10px;


  &:hover{
    transform: scale(1.3, 1.3);
    text-decoration: underline;
       color: $hoverBlue;
  }
  svg{
    height: 25px;
    width: 25px;
  }
 }
 .wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  
 }

  .burger{
    display: block;
    color: #00C6BB;
    background-color: $nav;
    width: 50px;
    height: 50px;
    border: none;

    .burgerIcon{
      width: 35px;
      height: 35px;

    }
  }


  form{
    background-color: $nav;
    .searchBtn {
      color: aliceblue;
      background-color: $nav;
      border: none;
      padding: 10px 0;

      &:hover{
        transform: scale(1.1, 1.1);
        text-decoration: underline;
           color: $hoverBlue;
       
      }
    }
      .searchField{
        height: 30px;
        border-radius: 10px;
    border: none;
        text-align: center;
        margin: 0 13px;
      
      }
      .searchLabel{
        display: none;
      }
      
    }
    
 
  
 


 
.largeScreenNav{
  display: none;
}
// form{
//   background-color: $nav;
//   .searchBtn {
//     color: aliceblue;
//     background-color: $nav;
//     border: none;
//     padding: 10px 0;

//     &:hover{
//       transform: scale(1.1, 1.1);
//       text-decoration: underline;
//          color: $hoverBlue;
     
//     }
//   }
//     .searchField{
//       height: 30px;
//       border-radius: 10px;
//   border: none;
//       text-align: center;
//       margin: 0 13px;
    
//     }
//     .searchLabel{
//       display: none;
//     }
    
//   }
  .smallScreenNav{
  position: relative;
  top: 300px;

  }
  .menuItems{
 
    width: 100vw;
  z-index: 3;
    display: flex;
    flex-direction: column;
  justify-content: center;
    padding-bottom: 15px ;
    background-color: aliceblue;
    min-height: 150px;
    position: relative;

    .close {
      font-size: 25px;
      font-weight: bolder;
      width: 40px;
      height: 40px;
      margin-left: 20px;
      border: none;
      background-color: aliceblue;
      position: absolute;
      top: 20px;
      z-index: 1;
      &:hover{
        transform: scale(1.3, 1.3);
       
           color: $hoverBlue;
       
      }
    }
  .navBtn{
    
    background-color: aliceblue;
    height: 40px;
    color: aliceblue;
    font-weight: bold;
    border: none;
    color: $nav;

    &:hover{
      transform: scale(1.1, 1.1);
      text-decoration: underline;
         color: $hoverBlue;
     
    }
}

}

@media screen and (min-width: 600px){
 

  .close{
    display: none;
  }

  .wrapper{
    display: none
  }

  .menuItems{
    display: none;
  }


  .largeScreenNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $nav;
  height: 50px;
  width: 100%;
  padding: 0 10px;

 div {
  display: flex;
 }
}


.navBtn{
  background-color: $nav;
  color: aliceblue;
  border: none;
  height: 100%;
  font-weight: bold;
  height: 50px
}


  .navBtn:hover{
    transform: scale(1.1, 1.1);
    text-decoration: underline;
       color: $hoverBlue;
   
  }



}     
   

}




// CARD
.cardContainer{
  padding:3px;
  max-width: 200px;
  min-height: 290px;
  .bild{
    background-color: antiquewhite;
    width: 100%;
    
  }

  .cardMovieTitle{
    display: flex;
    flex-direction: column;
  }
.cardTextWrapper{

  
  height: 70px;
  background-color: $darkestBlue;
  color: aliceblue;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  .smallInfoWrapper{
    display: flex;
    justify-content: space-between;
    align-items: end;
  
  }
}
&:hover{
  transform: scale(1.05, 1.05);
}

}


//Container för korten
.moviesContainer{
  display: flex;
 justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px ;

  
}

// Back knapp
.back{
  z-index: 2;
  position: absolute;
  left: 20px;
  top: 10px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgba(65, 67, 66, 0.219);
  color: aliceblue;
  font-weight: bold;
  min-width: 70px;

  &:hover{
    background-color: rgba(216, 225, 220, 0.255);
    color: $hoverBlue;
  }
}


          
        

//Hero image
.heroContainer{
  height: 320px;
  width: 100%;
overflow:hidden;
  color: aliceblue;

  

  .heroImage{
    width: 100%;
   background-color: antiquewhite;

   margin-top: -70px;
  
   }}


   // Detaljsida
   .detailPage{
    position: relative;
   
.infoContainer{
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;



    h2{
      margin-top: 0;
    text-align: center;
    color: $primary;
    font-size: 3em;
    text-shadow: 2px 4px 0px rgb(33, 32, 32), -1px 3px 7px rgb(105 118 128), 0 0 0.2em $nav;
  }
  .saveMovieBtn{
    min-height: 40px;
    border-radius: 10px;
    border: 3px solid $hoverBlue;
    background-color: $darkestBlue;
    font-size: 16px;
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.67);

    &:hover{
      transform: scale(1.2, 1.2);
     
      box-shadow: -1px 1px 18px 1px rgb(175 237 233 / 54%);
    }
  }

  .infoWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;

.title{
  color: $primary;
}
.container{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
 width: 100%;
 padding-top: 30px;
 }
 
  ul{
    
    padding: 0;
    li{
      list-style: none;
      color: $hoverBlue;
    }
  }
  .release {
    display: flex;
    flex-direction: column;
    color: $hoverBlue;
  }


.overview{
  color: aliceblue;
 
  padding: 20px;
}}} }



// CONFIRM ALERT
.react-confirm-alert{


  .heroContainer{
    z-index: 3;
  }
  .react-confirm-alert-body{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
    .react-confirm-alert-button-group{
     
      button{
        background: $primary;
        font-weight: bold;
       }
    }
   
  }
  
}

.pagination{  
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 30px 5px;

  button{
    height: 50px;
    width: 50px;
    background-color: $primary;
    border-radius: 5px;
    border: none;
    color: $lightest;
    font-weight: bold;
    &:hover{
      transform: scale(1.1, 1.1);
    }
    &:active{
      transform: scale(1.1, 1.1);
    
      background-color: $hoverBlue;
     
    }
    >* {
      height: 35px;
      width: 35px;
    }
  }
  p{
    padding: 0 15px;
  }
}

@media screen and (max-width: 600px){
  .moviesContainer{margin-top: 200px;}
.heroContainer{
  height: 280px;
  .heroImage{
    margin-top: 0;
  }
}


.infoWrapper{
 flex-direction: column;
}


.infoContainer > .overview{
  min-width: 90vw;
 }
 
}
@media screen and (max-width: 420px){
  .cardContainer{
    min-width: 90vw;
  }
}
@media screen and (min-width: 800px){
  .detailPage{
    .heroContainer{
      height: 360px;
   
    }
  }
  
}
